html{
    font-family: "Poetsen One", sans-serif !important;
    font-weight: 400;
    font-style: normal;
}

a:visited, a:active, a:link
{
    text-decoration: none;
    color: inherit;
}


body{
    background-color: rgb(8, 88, 87);
    height: 100%;
}
body h2, body h1{
    color: rgb(224, 233, 56);
}
body h4{
    color: rgb(223, 216, 40);
}
header{ 
    background-color: rgb(17, 24, 16);
    width: 100%;
    color:white;
    top: 0;
    left: 0;
    z-index: 9999;
    position: fixed;
}
.header{
    margin: 20px 20px 0;
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    padding-bottom: 20px;
    gap: 20px;
}
.header h3{
     text-align: center;
     font-size:32px;
     width: 100%;
     margin: 0;
     text-shadow: 2px 2px 2px rgb(224, 233, 56);
}
.header a{
    text-align: center;
    font-size:32px;
}
header button{
    top: 0;
    position: relative;
    align-items: center;
    text-align: center;
    background-color: rgb(255,255,255,0);
    border: 0px solid white;
    font-family: inherit;
    color:white;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    min-width: 150px;
    width: 100%;
}
header button a{
    margin: 0 auto;
}


main{
    top:120px;
    margin: 0 50px;
    position: relative;
}
.content{
    display: flex;
    flex-wrap: wrap;
}
.title{
    width: 100%;
    flex-grow: 4;
    
}
.title h3{
    margin-top: 150px;
    position: relative;
    color: rgb(224, 233, 56);
}
.img {
    position: relative;
    left:0;
    float: left;
    height: 100%;
}
.img img{
    position: relative;
    z-index: 2;
}
.content p{
    color: white;
}

.zoom{
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 4;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: inherit;
}
.zoomed .zoom{
    background-color: rgb(0, 0, 0, 0) !important ;
}
.zoomed img{
    width: 75%;  
    height: 75%;
    margin: 0 auto;
    display: block;
}
.zoom svg{
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.img:hover .zoom{
    visibility: visible;
}